@model Hans.Badminton.Core.ResultGenerator
@{
    ViewBag.Title = "Calculate";
}

<h2>Upload a file to calculate</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="uploadFile">Select a file from your computer (<a href="~/Log/sample.txt" target="_blank">Get a sample file</a>)</label>
        <div class="editor-field">
            @Html.TextBox("file", "", new { type = "file" })
        </div>        
    </div>
    <div class="form-group">
        <div class="editor-field">
            <input type="submit" value="Calculate" />
        </div>
    </div>
}

@if (Model != null)
{
    <h3>Games</h3>
    @Html.Partial("_GameResults", Model)
    <br />
    <h3>Player Rankings</h3>
    @Html.Partial("_PlayerRankings", Model)
    <br />
    <h3>Pair Rankings</h3>
    @Html.Partial("_PairRankings", Model)
}